section.about-us {
  margin-bottom: 7.4rem;
}

section.about-us .title-block {
  margin-bottom: 1.5rem;
}

section.about-us .title-block h2 {
  margin-bottom: 0.5rem;
}

section.about-us p {
  color: #dcdcdc;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 1.3rem;
}

@media (max-width: 767.98px) {
  section.about-us {
    margin-bottom: 6.6rem;
  }

  section.about-us .title-block {
    margin-bottom: 2.1rem;
  }

  section.about-us p {
    line-height: 26px;
    margin-bottom: 1.6rem;
  }
  section.about-us .about-us-block {
    margin-bottom: 1.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  section.about-us {
    margin-bottom: 5.5rem;
  }

  section.about-us .title-block {
    margin-bottom: 1.9rem;
  }

  section.about-us p {
    margin-bottom: 1.5rem;
  }

  section.about-us .about-us-block {
    margin-bottom: 1.4rem;
  }
}
@media (min-width: 1100px) {
  section.about-us .container,
  section.about-us .row {
    margin-right: 0;
  }

  section.about-us .container,
  section.about-us .image-col {
    padding-right: 0;
  }

  section.about-us .about-us-block {
    padding-left: 1.7rem;
    padding-right: 0;
  }
}

@media (min-width: 1450px) {
  section.about-us .container {
    max-width: 1208px;
    margin: 0 auto;
  }
}