section.we-buy {
  margin-bottom: 6rem;
}

section.we-buy .title-block {
  margin-bottom: 1.9rem;
}

section.we-buy p,
section.we-buy li {
  color: #dcdcdc;
  line-height: 30px;
}

section.we-buy ul {
  margin-bottom: 1.8rem;
}

section.we-buy .description {
  padding-right: 5rem;
}

section.we-buy .description p {
  margin-bottom: 0.6rem;
}

section.we-buy .before-content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.8rem;
}
section.we-buy .content {
  margin-bottom: 1.8rem;
}

@media (max-width: 767.98px) {

  section.we-buy .description {
    padding-right: 0;
    margin-bottom: 2.6rem;
  }

  section.we-buy .before-content {
    font-size: 14px;
  }

  section.we-buy .description p,
  section.we-buy li {
    line-height: 26px;
  }

  section.we-buy .description p {
    margin-bottom: 1rem;
    max-width: 220px;
  }

  section.we-buy ul {
    margin-bottom: 1.3rem;
  }

  section.we-buy .content {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  .editor > section.we-buy:first-child {
    margin-bottom: 3.7rem;
  }

  section.we-buy .title-block {
    margin-bottom: 2rem;
  }

  section.we-buy .description {
    padding-right: 0;
    margin-bottom: 3.2rem;
  }

  section.we-buy p,
  section.we-buy li {
    line-height: 24px;
  }

  section.we-buy .description p {
    margin-bottom: 0.4rem;
  }

  section.we-buy ul {
    margin-bottom: 1rem;
  }

  section.we-buy .content,
  section.we-buy .before-content,
  section.we-buy .read-more-btn {
    max-width: 446px;
    margin-left: auto;
    margin-right: auto;
  }

  section.we-buy table tr td {
    padding-top: 7px;
    padding-left: 6px;
  }

  section.we-buy table tr td:first-child {
    min-width: 39.3%;
  }
}
@media (min-width: 1100px) {
}
