section.product-list {
  margin-bottom: 2.4rem;
}

section.product-list .row {
  padding: 0 11px;
}

section.product-list .title-block {
  margin-left: 6px;
  margin-bottom: 2.5rem;
}

section.product-list a {
  font-family: Roboto-condensed;
  color: #ffffff;
  height: 590px;
  padding-top: 2.3rem;
  margin-bottom: 3.8rem;
  position: relative;
}

section.product-list .layer::before {
  z-index: -1;
}

section.product-list .product-image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

section.product-list .layer:hover::before {
  opacity: 0.2;
}

section.product-list h3 {
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  padding-left: 1.4rem;
}

section.product-list span.ic--arrow {
  color: #d8b998;
}

section.product-list a:hover h3,
section.product-list a:hover span.ic--arrow {
  color: #b89b7b;
}

section.product-list .col-lg-3 {
  padding: 0;
}

section.product-list .product-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

section.product-list span.ic--arrow {
  margin-left: 0.7rem;
  margin-top: 0.15rem;
}

@media (max-width: 767.98px) {
  section.product-list {
    margin-bottom: 5.2rem;
  }
  section.product-list .title-block {
    margin-left: 0px;
    margin-bottom: 2.1rem;
  }

  section.product-list h3 {
    padding-left: 1.1rem;
  }

  section.product-list a {
    padding-top: 2.6rem;
    height: 493px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  section.product-list {
    margin-bottom: 2.2rem;
  }

  section.product-list .title-block {
    margin-bottom: 2.1rem;
  }

  section.product-list h3 {
    font-size: 17px;
    line-height: 23px;
    padding-left: 0.9rem;
  }

  section.product-list a {
    padding-top: 1.7rem;
    height: 457px;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1100px) {
}
