section.specialists {
  margin-bottom: 4rem;
}
section.specialists .name {
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

section.specialists .name,
section.specialists .position,
section.specialists .contacts {
  font-family: Roboto-condensed;
}

section.specialists .position {
  color: #d8b998;
  margin-bottom: 1rem;
}

section.specialists .contacts,
section.specialists .contacts a {
  color: #dcdcdc;
  font-size: 15px;
  line-height: 19px;
}

section.specialists .contacts a {
  margin-left: 3px;
}

section.specialists .texture-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
}

section.specialists .texture {
  position: relative;
  left: 36px;
  top: -27px;
  right: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0 0.9rem;
}

section.specialists .col-lg-3 {
  height: 272px;
}

@media (max-width: 767.98px) {
  section.specialists .col-lg-3 {
    margin-bottom: 1.4rem;
  }

  section.specialists .col-lg-3:last-child {
    margin-bottom: 0;
  }

  section.specialists .col-lg-3 {
    height: 263px;
  }

  section.specialists .texture {
    padding: 0 2.4rem;
    left: -9px;
  }

  section.specialists {
    margin-bottom: 1.6rem;
  }

  section.contacts + section.specialists .texture {
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1099px) {
  section.specialists {
    margin-bottom: 2.1rem;
  }
  section.specialists .row {
    padding: 0 2rem;
  }

  section.specialists .col-lg-3:nth-child(even) {
    padding-left: 0.5rem;
  }

  section.specialists .col-lg-3:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  section.specialists .col-lg-3 {
    margin-bottom: 2.2rem;
    padding-left: 2.3rem;
    height: 253px;
  }

  section.specialists .texture {
    left: 18px;
    top: -27px;
  }

  section.specialists .col-lg-3:nth-child(even) .texture {
    left: -1px;
  }
}

@media (min-width: 1100px) {
  section.specialists .col-lg-3 {
    padding-left: 5.3rem;
  }

  section.specialists .row {
    margin: 0;
  }

  section.contacts + section.specialists .col-lg-3 {
    padding-left: 2rem;
  }

  section.contacts + section.specialists .texture {
    left: 12px;
  }
}
