section.hero {
  padding-top: 13.4rem;
  padding-bottom: 7.1rem;
}

section.hero h1 {
  margin-bottom: 1rem;
}

section.hero p {
  font-size: 17px;
  line-height: 27px;
}

section.hero .col-lg-12 {
  padding: 0 6rem;
}

section.hero .logo {
  width: 148px;
  height: 86px;
  margin-bottom: 4rem;
}

@media (max-width: 767.98px) {
  section.hero {
    padding-top: 13rem;
    padding-bottom: 6rem;
  }

  section.hero .col-lg-12 {
    padding: 0;
  }

  section.hero .logo {
    width: 163px;
    height: 95px;
    margin-bottom: 2.9rem;
  }

  section.hero h1 {
    margin-bottom: 0.7rem;
  }

  section.hero p {
    padding: 0 2rem;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1099.98px) {
  section.hero {
    padding-top: 14.4rem;
    padding-bottom: 6.1rem;
  }

  section.hero .logo {
    width: 174px;
    height: auto;
    margin-bottom: 3.7rem;
  }

  section.hero h1 {
    margin-bottom: 0.6rem;
  }
}
