section.contacts {
  margin-bottom: 7.2rem;
}

section.contacts h2 {
  margin-bottom: 2.6rem;
}

section.contacts p,
section.contacts a {
  color: #dcdcdc;
}

section.contacts .global-contacts p:last-child,
section.contacts .another-contacts p {
  margin-bottom: 1.5rem;
}

section.contacts .global-contacts a {
  margin-left: 5px;
}

section.contacts .another-contacts p:last-child {
  margin-bottom: 0;
}

section.contacts .requisites-block,
section.contacts .contact-block {
  margin-bottom: 3.8rem;
}

section.contacts .map {
  height: 943px;
}

section.contacts .another-contacts {
  margin-bottom: 1.2rem;
}

section.contacts .google-location {
  font-family: Roboto-medium;
}

section.contacts .google-location i {
  margin-right: 0.6rem;
}

@media (max-width: 767.98px) {
  section.contacts {
    margin-bottom: 6.5rem;
  }

  section.contacts h2 {
    margin-bottom: 2.1rem;
  }

  section.contacts .requisites-block,
  section.contacts .contact-block {
    padding: 0 0.5rem;
    margin-bottom: 3.9rem;
  }

  section.contacts .contact-block {
    margin-bottom: 0;
  }

  section.contacts .contact-us-block h2 {
    padding-top: 4.2rem !important;
  }

  section.contacts .requisites-block p,
  section.contacts .contact-block p {
    line-height: 22px;
  }

  section.contacts .col-12 {
    padding: 0;
  }

  section.contacts .col-12 h2 {
    padding: 1rem;
    padding-bottom: 0;
  }

  section.contacts .map {
    height: 258px;
  }

  section.contacts .another-contacts {
    margin-bottom: 1.4rem;
  }

  section.contacts .google-location {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  section.contacts {
    margin-bottom: 5.5rem;
  }

  section.contacts .container {
    max-width: 100%;
  }

  section.contacts h2 {
    margin-bottom: 2.2rem;
  }

  section.contacts .col-12 h2 {
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
  }

  section.contacts .requisites-block {
    margin-left: auto;
    max-width: 330px;
  }

  section.contacts .contact-block {
    max-width: 316px;
  }

  section.contacts .requisites-block,
  section.contacts .contact-block {
    margin-bottom: 0;
  }

  section.contacts .contact-us-block {
    padding-top: 5.4rem;
  }

  section.contacts .map {
    height: 415px;
  }

  section.contacts .contact-col {
    margin-bottom: 4.2rem;
  }

  section.contacts .another-contacts {
    margin-bottom: 1.4rem;
  }

  section.contacts .google-location {
    font-size: 18px;
  }
}

@media (max-width: 1099px) {
  section.contacts .map-col,
  section.contacts .contact-col {
    width: 100%;
  }

  section.contacts .row {
    margin-left: 0;
    margin-right: 0;
  }

  section.contacts .container {
    padding: 0;
  }
}

@media (min-width: 1100px) {
  section.contacts .container,
  section.contacts .row {
    margin-right: 0;
  }

  section.contacts .contact-col .row,
  section.contacts .contact-block,
  section.contacts .map {
    margin-left: auto;
  }

  section.contacts .contact-col .row {
    max-width: 659px;
  }

  section.contacts .container {
    max-width: 100%;
    padding-right: 0;
  }

  section.contacts .contact-block {
    max-width: 290px;
  }

  section.contacts .map {
    width: 94%;
  }

  section.contacts .container,
  section.contacts .map-col {
    padding-right: 0;
  }
  section.contacts .map-col {
    width: 45%;
  }

  section.contacts .contact-col {
    width: 55%;
  }
  section.contacts .google-location {
    margin-left: 0.3rem;
  }
}

@media (min-width: 1450px) {
  section.contacts .container {
    max-width: 1208px;
    margin: 0 auto;
  }

  section.contacts .map {
    width: auto;
  }
}
