html,
body {
  font-kerning: auto;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.site-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
}

.site-content {
  flex: 1 1 auto !important;

  &.not-front-page {
    margin-top: 5.1rem;

    @media (max-width: $breakpoint_md) {
      margin-top: 7.8rem;
    }

    @media (min-width: map-get( $breakpoints, md )) and (max-width: $breakpoint_lg) {
      margin-top: 8.3rem;
    }
  }
}
