// Font face declarations goes here
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Roboto-medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: Roboto-condensed;
  src: url(../fonts/Roboto_condensed/RobotoCondensed-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Toto-icons";
  src: url("../fonts/toto-icons/Toto-icons.eot?54czce");
  src: url("../fonts/toto-icons/Toto-icons.eot?54czce#iefix")
      format("embedded-opentype"),
    url("../fonts/toto-icons/Toto-icons.ttf?54czce") format("truetype"),
    url("../fonts/toto-icons/Toto-icons.woff?54czce") format("woff"),
    url("../fonts/toto-icons/Toto-icons.svg?54czce#Toto-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Toto-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic--arrow:before {
  content: "\e900";
}
.ic--linkedin:before {
  content: "\e901";
}
.ic--youtube:before {
  content: "\e902";
}
.ic--twitter:before {
  content: "\e903";
}
.ic--instagram:before {
  content: "\e904";
}
.ic--facebook:before {
  content: "\e905";
}
.ic--checkmark:before {
  content: "\e906";
}
.ic--acs:before {
  content: "\e907";
}
.ic--warning:before {
  content: "\e908";
}
.ic--radio-button:before {
  content: "\e909";
}
.ic--location-icon:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.ic--location-icon:after {
  content: "\e90b";
  margin-left: -0.705078125em;
  color: rgb(43, 43, 43);
}
.ic--email:before {
  content: "\e90c";
}
.ic--zagmaterials:before {
  content: "\e90d";
}
.ic--kimiska-apstrade:before {
  content: "\e90e";
}
.ic--radio-button-unchecked:before {
  content: "\e90f";
}

.ic--close:before {
  content: "\e910";
  color: #cfd9e5;
}
.ic--close:after {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}