// Header / footer related styles goes here

.lang-switch {
  margin-right: 54px;
  &,
  &__link {
    color: #bababa;
  }

  &__separator {
    margin: 0 8px;
  }

  &__link--is-active {
    color: #ffffff;
  }
}

// HEADER
.site-header {
  padding-top: 39px;

  .site-nav,
  .lang-switch {
    margin-top: auto;
    margin-bottom: auto;
  }

  .site-nav,
  .lang-switch,
  .site-nav .nav-items {
    display: flex;
  }

  .contact-btn {
    margin-left: auto;
    font-size: 17px;
    border-radius: 20px;
    padding: 6px 28px;
  }

  .lang-switch,
  .site-nav > ul > li {
    &,
    a {
      font-family: Roboto-condensed;
      font-size: 16px;
      line-height: 21px;
    }

    a {
      text-transform: uppercase;
    }
  }
}

// NAVIGATION
.site-nav {
  .nav-items {
    li {
      margin-right: 54px;

      a {
        position: relative;
        color: #ffffff;
        text-decoration: none !important;

        &:after {
          transition: width 0.2s ease-in-out 0s;
          content: " ";
          position: absolute;
          bottom: -9px;
          width: 0;
          left: 0;
          height: 2px;
          background-color: #b89b7b;
        }
      }

      a:hover,
      &.current_page_item a {
        &:after {
          width: 100%;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// RESPONSIVE MENU
.menu-btn {
  position: relative;
  top: 5px;
  height: 26px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &,
  .toggler {
    width: 26px;
  }
  .toggler {
    top: 13px;

    &.open {
      &,
      &:before,
      &:after {
        background-color: #d8b998;
      }
    }

    &:before,
    &:after {
      content: "";
      width: 100%;
    }

    &,
    &:before,
    &:after {
      position: absolute;
      background-color: #fff;
      transition: all 0.5s ease-in-out;
      height: 2px;
    }

    &:before {
      top: -10px;
    }
    &:after {
      top: 10px;
    }
  }
}

// SITE FOOTER

.site-footer {
  background-color: #1e1e1e;
  padding-top: 60px;
  p,
  a {
    color: #dcdcdc;
    font-size: 15px;
    line-height: 20px;
  }

  h3 {
    font-weight: 400;
    margin-bottom: 24px;
  }

  .footer-nav li {
    margin-bottom: 0.25rem;
  }

  .address {
    margin-bottom: 1rem;
  }

  .top {
    margin-bottom: 60px;
  }

  .footer-info {
    padding-left: 5.3rem;
  }

  .bottom {
    padding-bottom: 54px;

    .container {
      padding-left: 28px;
      padding-right: 28px;

      .row {
        border-top: 1px solid #504b4f;
        padding-top: 20px;

        .col-12 {
          padding: 0 1px;
        }
      }
    }

    .additional-block {
      flex-grow: 1;
      margin-left: 3rem;

      .privacy-policy-link {
        text-decoration: underline;
        &:hover,
        &:active {
          color: #bababa;
        }
      }
    }
  }

  .footer-nav-block {
    padding-left: 1.5rem;
  }

  .sertification-block {
    padding-left: 2px;

    &__image {
      position: relative;
      &::before {
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        opacity: 0.68;
        background: #000000 0% 0% no-repeat padding-box;
        pointer-events: none;
      }

      .eye {
        position: absolute;
        font-size: 23px;
        pointer-events: none;
        opacity: 0.5;
      }
    }

    :hover {
      .eye {
        font-size: 34px;
        opacity: 1;
      }
    }
  }

  .sertification {
    width: 164px;
    height: 127px;
  }

  .logo {
    width: 137px;
    height: 80px;
  }

  .pdg-developer__logo {
    width: 76px;
    height: 29px;
    background-image: url(../img/Sem_logo.svg);
  }

  .pdg-developer__label {
    color: #dcdcdc;
    font-size: 15px;
    line-height: 20px;
  }

  // SOCIAL NAV
  .social-nav {
    margin-top: 1rem;

    li {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
    &__link {
      font-size: 16px;
      text-decoration: none !important;
    }
  }
}

// RESPONSIVE
@media (max-width: $breakpoint_md) {
  .site-header {
    padding-top: 23px;
    padding-bottom: 13px;
    .contact-btn {
      font-size: 15px;
      line-height: 24px;
      padding: 6px 22px;
    }
  }

  .menu-btn {
    top: 3.6px;
  }

  .site-footer {
    padding-top: 25px;
    .logo {
      width: 98px;
      height: 57px;
    }

    .top {
      margin-bottom: 35px;
    }

    .bottom {
      .container {
        padding-left: 25px;
        padding-right: 25px;
      }
      .additional-block {
        margin-left: 0;
        margin-top: 2.3rem;
      }
    }

    .address-block {
      padding-left: 1rem;
    }

    .sertification-block {
      margin-top: 2.6rem;
      padding-left: 9px;

      &__image {
        .eye {
          font-size: 47px;
        }
        &:hover {
          .eye {
            font-size: 64px !important;
          }
        }
      }
    }

    .sertification {
      width: 100%;
      height: 254px;
    }

    .footer-nav li {
      margin-bottom: 0.45rem;
    }

    p,
    li {
      line-height: 18px;
    }

    h3 {
      margin-bottom: 20px;
    }

    .pdg-developer {
      &__label {
        margin-right: 8px;
      }

      &__logo {
        width: 64px;
        height: 24px;
      }
    }
  }
}

@media (min-width: map-get( $breakpoints, md )) and (max-width: $breakpoint_lg) {
  .site-header {
    padding-top: 33px;
    padding-bottom: 23px;
    .contact-btn {
      font-size: 16px;
    }
  }

  .site-footer {
    .top {
      margin-bottom: 54px;
    }

    .bottom {
      .additional-block {
        margin-left: 1.8rem;
      }
    }
  }
}

@media (max-width: $breakpoint_lg) {
  // HEADER
  .site-header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #2b2b2b;
    z-index: 99;

    &__top {
      background-color: transparent;
    }

    .site-nav {
      position: fixed;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      left: auto;
      top: 4.4rem;
      text-align: center;
      background-color: #ffffff;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 6px;
      padding: 27px;
      z-index: 99;

      &.open {
        visibility: visible;
        opacity: 1;
      }

      &,
      .nav-items {
        flex-direction: column;
      }

      .nav-items {
        li {
          margin-right: 0;
          margin-bottom: 1rem;

          a {
            color: #504b4f;
          }
        }
      }
    }
    .lang-switch {
      margin-right: 0;
      justify-content: center;
      order: 2;
      &__link--is-active {
        color: #504b4f;
      }
    }
  }

  // FOOTER

  .site-footer {
    .bottom {
      padding-bottom: 43px;

      .container {
        .row {
          padding-top: 16px;
        }
      }
    }

    .footer-info {
      padding-left: 0;
      margin-top: 3rem;
    }

    .footer-nav-block {
      padding-left: 9px;
    }
  }
}

.cc-window {
  position: fixed;
  display: none;
}