.grecaptcha-badge {
  z-index: 9;
}
.background-texture {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.background-texture-home {
  height: 1267px;
}

.background-texture-page {
  height: 100%;
  top: 0;
  bottom: 0;
  background-position: bottom;
}
// Content styles goes here
.title-block {
  .number {
    font-family: Roboto-condensed;
    font-size: 34px;
    line-height: 45px;
    color: #d8b998;
  }
}

// LAYER
.layer {
  position: relative;
  &::before {
    content: "";
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.45;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
  }
  &:hover::before {
    opacity: 0;
  }
}

// TABLE
table {
  tr {
    border-top: 1px solid #ffffff;

    td {
      padding: 8px 0px 8px 8px;
    }

    &:first-child {
      td {
        padding: 14px 0px 14px 8px;
      }
    }

    &:last-child {
      border-bottom: 1px solid #ffffff;
    }
  }
}

// MAP
.map {
  overflow: hidden;
}

.map iframe {
  height: calc(100% + 154px);
  width: calc(100% + 4px);
  position: relative;
  top: -69px;
  left: -2px;
}

@media (max-width: $breakpoint_md) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .title-block {
    .number {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media (min-width: map-get( $breakpoints, md )) and (max-width: $breakpoint_lg) {
  .background-texture-home {
    height: 1466px;
  }
}

@media (max-width: $breakpoint_lg) {
  .container {
    max-width: 714px;
  }

  .background-texture-home {
    background-size: cover;
    background-position: 19%;
  }
}
