section.contact-us {
  margin-bottom: 6.6rem;
}
section.contact-us .title-block {
  margin-top: 2.3rem;
  margin-bottom: 2.6rem;
}

section.contact-us .map {
  height: 588px;
  margin-left: 7.2rem;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  section.contact-us {
    margin-bottom: 0;
  }
  section.contact-us .title-block {
    margin-top: 0.6rem;
    margin-bottom: 2.1rem;
    padding: 0 1rem;
  }

  section.contact-us .map {
    height: 258px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  section.contact-us {
    margin-bottom: 0rem;
  }
  section.contact-us .title-block {
    width: 448px;
    margin: 0 auto;
    margin-bottom: 2.4rem;
  }

  section.contact-us .contact-form-block {
    margin-bottom: 3.3rem;
  }

  section.contact-us .map {
    height: 415px;
    margin-left: 0;
  }

  section.contact-us .container {
    max-width: 1208px;
  }
}

@media (max-width: 1099px) {
  section.contact-us .row {
    margin: 0;
  }
  section.contact-us .container,
  section.contact-us .col-lg-6 {
    padding: 0;
  }
}

@media (min-width: 1100px) {
  section.contact-us .container {
    padding-right: 0;
  }

  section.contact-us .row,
  section.contact-us .container {
    margin-right: 0;
  }

  section.contact-us .map-block {
    padding-right: 0;
  }

  section.contact-us .contact-form-block {
    padding-left: 2rem;
  }
}

@media (min-width: 1450px) {
  section.contact-us .container {
    max-width: 1208px;
    margin: 0 auto;
  }
}