section.product-carousel {
  margin-bottom: 1rem;
}

section.product-carousel .container {
  max-width: 1281px;
}

section.product-carousel .container,
section.product-carousel .col-lg-12 {
  padding-right: 0;
}

section.product-carousel .container,
section.product-carousel .row {
  margin-right: 0;
}

section.product-carousel .product-item {
  position: relative;
  margin-bottom: 3.8rem;
}

section.product-carousel .product-item a {
  height: 640px;
  background-repeat: no-repeat;
}

section.product-carousel .product-image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

section.product-carousel a {
  font-family: Roboto-condensed;
  color: #ffffff;
  height: 590px;
}

section.product-carousel h3 {
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 3.5rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

section.product-carousel .layer::before {
  z-index: -1;
}

section.product-carousel .product-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

section.product-carousel .read-more-text {
  font-family: Roboto-medium;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  bottom: 72px;
  left: -23px;
  transform: matrix(0, -1, 1, 0, 0, 0);
}

section.product-carousel .slick-dots {
  display: none !important;
}

section.product-carousel .slick-custom-arrows {
  font-family: Roboto-condensed;
  padding-right: 6rem;
  position: relative;
  top: -47px;
}

section.product-carousel .slick-custom-arrows .prev {
  transform: rotateY(180deg);
}

section.product-carousel .slick-custom-arrows .prev,
section.product-carousel .slick-custom-arrows .next {
  padding-top: 0.35rem;
  cursor: pointer;
}

section.product-carousel .slick-custom-arrows .pagingInfo {
  margin-left: 1.7rem;
}

section.product-carousel .slick-custom-arrows .pagingInfo .current-page {
  font-size: 40px;
  line-height: 53px;
}

section.product-carousel .slick-custom-arrows .pagingInfo .total-pages,
section.product-carousel .slick-custom-arrows .pagingInfo .separator {
  font-size: 24px;
  line-height: 32px;
  color: #bababa;
  position: relative;
  top: -21px;
}

section.product-carousel .slick-custom-arrows .pagingInfo .separator {
  margin-right: 8px;
  margin-left: 6px;
}

.slick-product-carousel {
  visibility: hidden;
}
.slick-product-carousel.slick-initialized {
  visibility: visible;
}

@media (max-width: 767.98px) {
  section.product-carousel {
    margin-bottom: 0;
  }

  section.product-carousel .product-item {
    width: 232px;
  }

  section.product-carousel .product-item a {
    height: 493px;
  }

  section.product-carousel h3,
  section.product-carousel .read-more-text {
    font-size: 16px;
    line-height: 21px;
  }

  section.product-carousel h3 {
    padding-top: 2.6rem;
    padding-left: 1.4rem;
  }

  section.product-carousel .read-more-text {
    bottom: 64px;
    left: -11px;
  }

  section.product-carousel .slick-custom-arrows {
    top: -53px;
    padding-right: 0.8rem;
  }

  section.product-carousel .slick-custom-arrows .pagingInfo .total-pages,
  section.product-carousel .slick-custom-arrows .pagingInfo .separator {
    font-size: 23px;
    line-height: 30px;
  }

  section.product-carousel .slick-custom-arrows .pagingInfo .separator {
    margin-right: 8px;
  }

  section.product-carousel .slick-custom-arrows .pagingInfo {
    margin-left: 1.4rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  section.product-carousel .container {
    max-width: 742px;
  }

  section.product-carousel .product-item {
    width: 290px;
  }

  section.product-carousel h3,
  section.product-carousel .read-more-text {
    font-size: 19px;
    line-height: 25px;
  }

  section.product-carousel h3 {
    padding-top: 3.1rem;
  }

  section.product-carousel .product-item a {
    height: 586px;
  }

  section.product-carousel .slick-custom-arrows {
    padding-right: 2.7rem;
  }
}

@media (min-width: 1450px) {
  section.product-carousel .container {
    max-width: 1208px;
    margin: 0 auto;
  }
}