section.services {
  margin-bottom: 6.25rem;
}

section.services p {
  color: #dcdcdc;
  font-size: 17px;
  line-height: 24px;
}

section.services .title-block {
  margin-top: 0.2rem;
  margin-bottom: 2.3rem;
}

section.services .description {
  padding-right: 2.6rem;
}

section.services .description p {
  margin-bottom: 1.5rem;
}

section.services .list-title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  margin-top: 3.4rem;
  margin-bottom: 2.8rem;
}

section.services ul li {
  margin-bottom: 2.4rem;
}

section.services ul li:last-child {
  margin-bottom: 0;
}

section.services .container {
  margin-right: 0;
  padding-right: 0;
}

section.services .row {
  margin-right: 0;
}

section.services .col-lg-4 {
  padding-right: 0;
  padding-left: 3.2rem;
}

section.services .list-block li {
  padding-left: 3rem;
  position: relative;
}

section.services .list-block li::before {
  display: none;
}

section.services .list-block li i {
  position: absolute;
  color: #d8b998;
  font-size: 28px;
  left: 1px;
  top: -2px;
}

section.services .list-block li i.ic--zagmaterials {
  font-size: 34px;
  left: 0px;
  top: -5px;
}

@media (max-width: 767.98px) {
  section.services {
    margin-bottom: 2.25rem;
  }

  section.services .title-block {
    margin-bottom: 2.1rem;
  }

  section.services .description {
    padding-right: 0;
    margin-bottom: -0.1rem;
  }

  section.services .description p {
    line-height: 22px;
    margin-bottom: 1.4rem;
  }

  section.services .description-block {
    margin-bottom: 0.5rem;
  }

  section.services .description-block,
  section.services .list-block {
    padding-left: 1.5rem;
  }

  section.services .list-title {
    margin-bottom: 2.6rem;
  }

  section.services ul li {
    margin-bottom: 2rem;
  }

  section.services .list-block {
    margin-bottom: 2.2rem;
  }

  section.services .col-lg-4,
  section.services .container {
    padding: 0;
  }
  section.services img {
    height: 145px;
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  section.services .col-lg-5 {
    margin-bottom: 3.8rem;
  }

  section.services .container {
    max-width: 741px;
  }
}

@media (min-width: 1100px) {
  section.services .col-lg-5 {
    padding-left: 1.9rem;
  }

  section.services .col-lg-3 {
    padding-left: 1.6rem;
  }

  section.services .col-lg-4 {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1450px) {
  section.services .container {
    max-width: 1208px;
    margin: 0 auto;
  }
}
