section.statictics {
  margin-bottom: 5.6rem;
}
section.statictics .col-lg-3 {
  padding: 0 2rem;
  padding-top: 2.2rem;
  height: 248px;
}
section.statictics .title-block {
  margin-bottom: 5.35rem;
}
section.statictics .item-amount {
  color: #d8b998;
  font-size: 86px;
  line-height: 113px;
  margin-bottom: 0.7rem;
}

section.statictics .item-title {
  color: #dcdcdc;
  font-size: 19px;
  line-height: 27px;
}

section.statictics .item-amount,
section.statictics .item-title {
  font-family: Roboto-condensed;
}

section.product-carousel + section.statictics {
  margin-top: -1.8rem;
}

section.statictics .texture-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
}

section.statictics .texture {
  position: relative;
  left: 1px;
  top: -87px;
  right: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

@media (max-width: 767.98px) {
  section.product-carousel + section.statictics {
    margin-top: -1.3rem;
  }

  section.statictics {
    margin-bottom: 0rem;
  }

  section.statictics .item-amount {
    font-size: 47px;
    line-height: 62px;
    margin-bottom: 0.1rem;
  }

  section.statictics .item-title {
    font-size: 14px;
    line-height: 18px;
  }

  section.statictics .col-lg-3 {
    padding: 0 2.2rem;
    height: 154px;
    margin-bottom: 2.2rem;
  }

  section.statictics .title-block {
    margin-bottom: 5.3rem;
  }

  section.statictics .texture {
    left: 7px;
    top: -50px;
    padding: 0 0.6rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  section.statictics .title-block {
    margin-bottom: 6.3rem;
  }

  section.statictics .row {
    padding: 0 2.7rem;
  }

  section.statictics .col-lg-3 {
    margin-bottom: 5.1rem;
    height: 243px;
  }

  section.statictics .texture {
    left: 4px;
    top: -89px;
  }

  section.statictics {
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 1099px) {
  section.statictics .col-lg-3:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
